<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ metadata.author.name }}">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}" />
    <meta property="og:image" content="{{ metadata.url }}/static/assets/mks.jpg" />
    {% if description %} 
    <meta property="description" content="{{ description }}" /> 
    <meta property="og:description" content="{{ description }}" /> 
    {% else %}
    <meta name="description" content="{{ metadata.description }}">
    <meta name="og:description" content="{{ metadata.description }}">
    {% endif %}
    <link rel="icon" href="{{ metadata.favicon }}" type="image/ico"/>
    <link rel="stylesheet" href="{{ metadata.css }}"/>
    <script type="text/javascript" src="{{ metadata.js }}"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <div class="navGridContainer">
        <div class="homeLinkGrid">
          <a href="/" class="home-link">{{ metadata.title }}</a>
        </div>

        <div class="navLinkGrid">
          <nav>
            <ul class="nav" id="navMenu">
              {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item">
                  <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
                </li>
              {%- endfor %}
              <li href="javascript:void(0);" class="icon">
                <a>
                  <span onclick="openNav()">≡</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div id="navOverlay" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <!-- Overlay content -->
        <div class="overlay-content">
          {%- for entry in collections.all | eleventyNavigation %}
            <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
          {%- endfor %}
        </div>
      </div>

    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>{{ metadata.title }} © {{ metadata.year }}</footer>
  </body>
</html>