---
title: maxksorg - Blog
layout: base.njk
eleventyNavigation:
  key: Blog
  order: 3
date: 2024-09-07
---

<h1>maxksorg Blog</h1>
<p>Your source for programming insights, tutorials, and community updates.</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}