/* === Styles.css === */

:root {
  --mgray: #252525;
  --swhite: #ffffff;
  --hwhite: #aaaaaa;
  --black: #000000;
  --almost-black: #222222;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #710071;
  --primary-dark: #BE00BE;
  --secondary: #710071;
  --secondary-dark: #BE00BE;
  --red: #EF4836;
  --pastelt:#f4e8ff;
  --amesthystb: #120024;
  --cardame: #291939;
}

body {
  background-color: var(--mgray);
  color: var(--hwhite);
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: var(--mgray);
}

footer {
  background-color: var(--mgray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: var(--hwhite);
}
a:hover {
  text-decoration: none;
  color: var(--swhite);
}
a.active {
  color: var(--swhite);
}

footer {
  text-align: center;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(170,170,170, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--hwhite);
} 

div.noevent {
  pointer-events: none;
}

